*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/app/.gitignore
/base/core/.gitignore
/base/database/.gitignore
/base/di/.gitignore
/base/domain/.gitignore
/base/ui/.gitignore
/base/network/.gitignore
/feature/detail/.gitignore
/feature/home/data/.gitignore
/feature/home/domain/.gitignore
/feature/home/.gitignore
/feature/common/data/.gitignore
/feature/common/domain/.gitignore

